@keyframes run {
  0% { left: 90vw; color:#f0f; width: 0px;}
  1%{ color: #f0f; width: 10px;}
  10%{ color: #fff; width: 50px;}
  20%{ color: #ff0; width: 20vw;}
  40%{ color: #fff; width: 40vw;}
  50% { left: 175px; color: #0ff; width: 60vw;}
  60% {left: 130px; color: #f0f;}
  80% {left: 0px; color: #f00;}
  100% { left: 130px; color: #fff;}

}
@keyframes salam{
  0% { left: 20%;}
  50% { left: 50%;}
  100% {left: 70%;}
}
@keyframes rotate-img {
  0% {transform: rotate(0deg);}
  15% {transform: rotate(45deg);}
  30% {transform: rotate(0deg);}
  45% {transform: rotate(-45deg);}
  60% {transform: rotate(0deg);}
  80% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}
