
@keyframes run {
  0% { left: 100vw; color:#f0f; }
  1%{ color: #f0f; width: 0px;}
  10%{ color: #fff;}
  20%{ color: #fff;}
  40%{ color: #fff;}
  50% { left: 175px; color: #f0f;}
  55% {left: 130px; color: #f0f; }
  60% {left: 50px; color: #f0f; }
  80% {left: 0px; color: #f0f;}
  100% {left: 87.5px; color: #f0f;}
}

@keyframes rotate-img {
  0% {transform: rotate(0deg);}
  15% {transform: rotate(45deg);}
  30% {transform: rotate(0deg);}
  45% {transform: rotate(-45deg);}
  60% {transform: rotate(0deg);}
  80% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}
