#Salam{
  position: relative;
  width: auto;
  height: 200px;
  background-image: url('../img/Sixty_dome_mosque_in_the_evening.jpg');
  background-size: 100% 100%;
}
#Bismillah{
  float: right;
}
#RMN{
  float: left;
  height: 200px;
}
#header{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 65vh;
  grid-template-areas: "intro propic link";
}
#intro{
  grid-area: "intro";
  background-color: #f00;
  background-image: url('../img/cooltext390960152535825 (1).png');
  background-size: 100% 100%;
}
#propic{
  grid-area: "propic";
  background-image: url("../img/ami.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#link{
  grid-area: "link";
  background-color: #f0f;
}
#nav{
  position: sticky;
  top: 0px;
  width: auto;
  height: 150px;
  background-color: #8b98d6;
  background-image: url("../img/nav.jpg");
  background-size: 100% 100%;
  opacity: 1;
}
.pic-logo{
  position: absolute;
  left: 50px;
  top: 15px;
  width:90px;
  height:90px;
  border-radius: 50%;
  background-image: url("../img/ami.png");
  background-size: 100%, 100%;
  animation-name: rotate-img;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#text-transform{
  position:absolute;
  width: 50vw;
  bottom: 15px;
  color: #000;
  overflow: hidden;
  text-overflow: inherit;
  white-space: nowrap;
  animation:linear infinite;
  animation-name: run;
  animation-duration: 20s;
}
#text-transform-salam{
  position:absolute;
  width: auto;
  top: 15px;
  color: #fff;
  animation:linear infinite;
  animation-name: text-right-to-center;
  animation-duration: 20s;
}
.hudai{
  background-color: #ff0;
  width: auto;
  height: 300px;
}
.hud{
  background-color: #f00;
  width: auto;
  height: 300px;
}
.copy-right{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: #fff;
}
